<!--The content below is only a placeholder and can be replaced.-->

  <app-header></app-header>
  <div class="container">
    
     <div class="form-group">
        <h1 class="text-center text-primary">Todo App</h1>

      <div class="container">
        <div class="row">
          <h3>This is a demo App in angular</h3>
        </div>
      </div>
      
      <div class="row">
        Enter the value  : <input type="text"  [(ngModel)] ="val"> 
        <br/> 
      </div>
        <div class="row">
         Entered value is:  {{ val }} 
        </div>
     
     </div>
    
   
     <app-servers></app-servers>
   </div>

